/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background: rgba(84, 112, 107, 0.4);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  line-height: 1.5;
  font-size: 1.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 1280px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    width: 960px;
    max-width: calc(100% - 30px);
  }
}
.banner {
  background-image: url("../images/black-bean-close-up-cooked-1640774.png");
  background-size: cover;
  background-position: -5rem 1.8rem;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  width: 100%;
  height: 100vh;
  min-height: 650px;
}
.banner .tag_line {
  position: relative;
  top: 52%;
  left: 39%;
  width: fit-content;
}
.banner .tag_line span {
  position: relative;
  left: 10%;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  color: #0c1725;
  font-weight: bold;
}
.banner .tag_line button {
  background: #5a6474;
  color: white;
  font-size: 2rem;
  border-radius: 0.4rem;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #232a34;
  cursor: pointer;
  padding: 0.6rem;
  margin-top: 3rem;
  width: 20rem;
  position: relative;
  left: 7%;
}
.banner .tag_line button:focus {
  outline: none;
}
.banner .tag_line button:hover {
  background: #0c1725;
}
.banner .tag_line div {
  position: relative;
  margin-top: 5rem;
  left: 50%;
  width: fit-content;
}
.banner .tag_line div a {
  text-decoration: underline;
  color: #232a34;
  font-size: 1.75rem;
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  padding: 0;
}
@media (min-width: 1000px) {
  .hamburger {
    display: none;
  }
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}
.hamburger-box {
  width: 3.5rem;
  height: 2rem;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.2rem;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 3.5rem;
  height: 0.27rem;
  background-color: white;
  border-radius: 0.4rem;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -1rem;
}
.hamburger-inner::after {
  bottom: -1rem;
}
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}
.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::before,
.hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}
.fixed-nav {
  background-color: #232a34;
  position: fixed;
  width: 100%;
  z-index: 20;
  height: 7rem;
}
.fixed-nav .inner-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  padding: 0 3%;
  max-width: 960px;
  margin: 0 auto;
}
.fixed-nav .inner-nav .logo {
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  line-height: 7rem;
  color: white;
  order: 2;
  flex-grow: 2;
  width: 60%;
  text-align: center;
}
@media (min-width: 1000px) {
  .fixed-nav .inner-nav .logo {
    width: 40%;
  }
}
.fixed-nav .inner-nav .logo a {
  text-decoration: none;
  color: white;
}
.fixed-nav .inner-nav .recipe-search {
  order: 3;
  padding-top: 1.5rem;
  border-radius: 1rem;
  margin: 0.4rem 0;
  display: block;
}
.fixed-nav .inner-nav .recipe-search .search-icon {
  cursor: pointer;
}
.fixed-nav .inner-nav nav {
  order: 1;
  display: block;
  padding-top: 2.5rem;
}
@media (min-width: 1000px) {
  .fixed-nav .inner-nav nav {
    padding: 0;
    width: 35%;
    align-self: flex-end;
    height: fit-content;
    cursor: arrow;
  }
}
.fixed-nav .inner-nav nav .dropdown-menu {
  position: absolute;
  margin-top: 2rem;
  width: 50%;
  left: 0%;
  background: #232a34;
  animation: slide-in 0.5s ease-in;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}
@media (min-width: 1000px) {
  .fixed-nav .inner-nav nav .dropdown-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    position: relative;
    animation: none;
    margin-top: 0;
    width: 100%;
  }
}
.fixed-nav .inner-nav nav .dropdown-menu hr {
  border: 0;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
@media (min-width: 1000px) {
  .fixed-nav .inner-nav nav .dropdown-menu hr {
    display: none;
  }
}
.fixed-nav .inner-nav nav .dropdown-menu a {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  text-decoration: none;
  color: white;
}
@media (min-width: 1000px) {
  .fixed-nav .inner-nav nav .dropdown-menu a {
    font-size: 1.5rem;
    white-space: nowrap;
    width: fit-content;
  }
}
.fixed-nav .inner-nav nav .hidden-menu {
  display: none;
}
@media (min-width: 1000px) {
  .fixed-nav .inner-nav nav .hidden-menu {
    display: flex;
  }
}
@keyframes slide-in {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
.body-section {
  padding-top: 7rem;
}
.body-section h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 1rem;
}
.body-section p {
  text-align: center;
  font-size: 2rem;
  width: 90%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.body-section .body-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}
.body-section .important-text {
  font-style: italic;
  font-size: 2.2rem;
  margin-top: 2rem;
}
.ss-style-doublediagonal {
  z-index: 1;
  padding-top: 6em;
  background: #5a6474;
  position: relative;
}
.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  transform: rotate(-2deg);
  transform-origin: 0 0;
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  overflow: hidden;
}
.ss-style-doublediagonal::before {
  height: 70%;
  background: #0c1725;
  transform: rotate(-4deg);
  transform-origin: 0% 0;
}
.ss-style-doublediagonal-backwards {
  z-index: 1;
  padding-top: 1rem;
  background: #5a6474;
  position: relative;
}
.ss-style-doublediagonal-backwards::before,
.ss-style-doublediagonal-backwards::after {
  top: 1rem;
  left: 125%;
  z-index: -1;
  width: 150%;
  height: 600%;
  background: inherit;
  transform: rotate(178deg);
  transform-origin: 0 0;
  content: '';
  display: block;
  position: absolute;
  pointer-events: none;
  box-sizing: border-box;
  overflow: hidden;
}
.ss-style-doublediagonal-backwards::before {
  height: 600%;
  background: #0c1725;
  transform: rotate(176deg);
  transform-origin: 0% 0%;
}
.footer {
  padding-top: 2rem;
  background: #232a34;
  padding-bottom: 2rem;
}
.footer .social {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  margin: 1.5rem auto;
  width: 30rem;
}
.footer .social a {
  text-decoration: none;
  color: white;
  width: 20%;
  font-size: 1.4rem;
  cursor: pointer;
}
.footer .social a:hover {
  text-decoration: underline;
}
.footer h3 {
  text-align: center;
  color: white;
}
.footer p {
  font-size: 1rem;
  color: white;
  text-align: center;
}
#share {
  background: white;
  min-height: 650px;
  height: 100vh;
}
@media (min-width: 600px) {
  #share {
    min-height: 1050px;
  }
}
#share .body-container {
  justify-content: space-around;
  height: 55%;
  margin-top: 2rem;
}
@media (min-width: 600px) {
  #share .body-container {
    height: 65%;
  }
}
@media (min-width: 700px) {
  #share .body-container {
    height: 650px;
  }
}
#share .card-content {
  height: 30%;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}
@media (min-width: 768px) {
  #share .card-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
  }
}
#share .card-content p {
  font-size: 1.5rem;
  margin: auto;
}
@media (min-width: 768px) {
  #share .card-content p {
    font-size: 2rem;
  }
}
#share .card-content img {
  width: 50%;
  max-width: 300px;
  height: auto;
}
#share a {
  text-decoration: none;
  outline: none;
}
#share a button {
  background: #232a34;
  color: white;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #232a34;
  width: 20rem;
  display: block;
  margin: 2rem auto 0;
  outline: none;
  cursor: pointer;
}
#featured-recipe {
  background: white;
  min-height: 600px;
  max-height: 700px;
}
#featured-recipe P {
  margin-top: 2rem;
}
#featured-recipe form .email {
  border-radius: 0.4em;
  height: 3rem;
  width: 20rem;
  margin: 2rem auto 0;
  display: block;
  padding-left: 0.5rem;
}
#featured-recipe form .email:focus {
  outline: none;
}
#featured-recipe form button {
  background: #232a34;
  color: white;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Roboto', sans-serif;
  width: 20rem;
  display: block;
  border: 0;
  margin: 2rem auto;
  cursor: pointer;
}
#featured-recipe img {
  width: 90%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 0.8rem;
}
#discover {
  background: #5a6474;
  min-height: 600px;
}
#discover h2 {
  color: white;
}
#discover .important-text {
  margin-top: 4rem;
}
@media (min-width: 768px) {
  #discover .important-text {
    margin-top: 2rem;
  }
}
#discover p {
  color: white;
  margin-top: 4rem;
}
@media (min-width: 768px) {
  #discover p {
    margin-top: 0;
  }
}
#discover hr {
  margin: 2rem 0;
  border: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
#discover .body-container {
  padding-top: 1rem;
}
#discover .body-container .search-features-list ul {
  color: white;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  list-style-type: disc;
  list-style-position: inside;
  display: block;
  margin: 0 auto;
  width: fit-content;
}
#discover .body-container .search-features-list ul li {
  padding: 0.5rem;
}
#discover .body-container a {
  text-decoration: none;
  outline: none;
}
#discover .body-container a button {
  background: white;
  color: #232a34;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: 'Roboto', sans-serif;
  border: 1px solid #232a34;
  width: 20rem;
  display: block;
  margin: 2rem auto 0;
  outline: none;
  cursor: pointer;
}
#testimonials {
  background: #5a6474;
  height: 500px;
  padding: 0;
}
@media (min-width: 768px) {
  #testimonials {
    height: 700px;
  }
}
#testimonials .testimonial-info h2 {
  color: white;
}
#testimonials .testimonial-info .important-text {
  color: white;
}
#testimonials .testimonial-info .body-container {
  color: white;
  padding-top: 10rem;
}
@media (min-width: 768px) {
  #testimonials .testimonial-info .body-container {
    padding-top: 2rem;
  }
}
#testimonials .testimonial-info .body-container .card-content {
  display: none;
  margin: 0 auto;
  animation: photo-transition 4.5s ease-in;
}
#testimonials .testimonial-info .body-container .card-content p {
  font-style: italic;
  font-size: 1.5rem;
}
#testimonials .testimonial-info .body-container .card-content span {
  font-style: none;
}
#testimonials .testimonial-info .body-container .active {
  display: block;
}
#testimonials .testimonial-info .testimonial-selector {
  margin-top: 2rem;
}
#testimonials .testimonial-info .testimonial-selector ol {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}
#testimonials .testimonial-info .testimonial-selector button {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1.4rem;
  border: 0;
  margin: 0.3rem;
  background-color: white;
  outline: none;
}
#testimonials .testimonial-info .testimonial-selector .active-button {
  outline: none;
  background-color: #232a34;
}
@keyframes photo-transition {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.carousel {
  width: 60%;
  margin: 0 auto;
  margin-top: 2rem;
  display: none;
}
@media (min-width: 768px) {
  .carousel {
    display: block;
  }
}
.carousel img {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  border-radius: 2rem;
  display: none;
  animation: photo-transition 4.5s ease-in-out;
}
@keyframes photo-transition {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
