/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  line-height: 1.5;
  font-size: 1.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.bodySection {
  min-height: 40vh;
}
.banner {
  background-image: url("../images/black-bean-close-up-cooked-1640774.png");
  background-size: cover;
  background-position: -5rem -0.8rem;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  width: 100%;
  height: 100vh;
}
@media (min-width: 360px) {
  .banner {
    background-position: -5rem 1.8rem;
  }
}
@media (orientation: landscape) {
  .banner {
    background-position: 0rem;
  }
}
.banner .tag_line {
  position: relative;
  top: 50%;
  left: 35%;
  width: fit-content;
}
@media (min-width: 360px) {
  .banner .tag_line {
    top: 52%;
    left: 39%;
  }
}
@media (min-width: 410px) {
  .banner .tag_line {
    left: 44%;
  }
}
@media (orientation: landscape) {
  .banner .tag_line {
    left: 30%;
  }
}
.banner .tag_line span {
  position: relative;
  left: 10%;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  color: #232a34;
}
.banner .tag_line button {
  background: none;
  color: #232a34;
  font-size: 2rem;
  border-radius: 0.4rem;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid #232a34;
  cursor: pointer;
  padding: 0.6rem;
  margin-top: 3rem;
  width: 20rem;
  position: relative;
  left: 7%;
}
.banner .tag_line button:focus {
  outline: none;
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  padding: 0;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}
.hamburger-box {
  width: 3.5rem;
  height: 2rem;
  display: inline-block;
  position: relative;
}
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.2rem;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 3.5rem;
  height: 0.27rem;
  background-color: white;
  border-radius: 0.4rem;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -1rem;
}
.hamburger-inner::after {
  bottom: -1rem;
}
.hamburger--vortex .hamburger-inner {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex .hamburger-inner::before,
.hamburger--vortex .hamburger-inner::after {
  transition-duration: 0s;
  transition-delay: 0.1s;
  transition-timing-function: linear;
}
.hamburger--vortex .hamburger-inner::before {
  transition-property: top, opacity;
}
.hamburger--vortex .hamburger-inner::after {
  transition-property: bottom, transform;
}
.hamburger--vortex.is-active .hamburger-inner {
  transform: rotate(765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger--vortex.is-active .hamburger-inner::before,
.hamburger--vortex.is-active .hamburger-inner::after {
  transition-delay: 0s;
}
.hamburger--vortex.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
}
.hamburger--vortex.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(90deg);
}
.fixed-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  padding: 0 1rem;
  height: 7rem;
  background-color: #232a34;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.fixed-nav .logo {
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  line-height: 7rem;
  color: white;
  order: 2;
  flex-grow: 2;
  width: 60%;
  text-align: center;
}
@media (max-width: 320px) {
  .fixed-nav .logo {
    font-size: 3.2rem;
  }
}
.fixed-nav .logo a {
  text-decoration: none;
  color: white;
}
.fixed-nav .recipe-search {
  order: 3;
  padding-top: 1.5rem;
  border-radius: 1rem;
  margin: 0.4rem 0;
  display: block;
}
.fixed-nav .recipe-search .search-icon {
  cursor: pointer;
}
.fixed-nav .recipe-search .search-icon img {
  opacity: 1;
}
.fixed-nav .recipe-search .dropdown-search {
  position: absolute;
  margin-top: 1.7rem;
  width: 18rem;
  left: calc(100% - 18rem);
  border-radius: 0.7rem;
  height: 3.5rem;
}
.fixed-nav .recipe-search .dropdown-search:focus {
  outline: none;
}
@media (orientation: landscape) {
  .fixed-nav .recipe-search .dropdown-search {
    width: 24rem;
    left: calc(100% -24rem);
  }
}
.fixed-nav .recipe-search .hidden-search {
  display: none;
}
.fixed-nav nav {
  order: 1;
  display: block;
  padding-top: 2.5rem;
}
.fixed-nav nav .dropdown-menu {
  position: absolute;
  margin-top: 2rem;
  width: 50%;
  left: 0%;
  background: #232a34;
  animation: slide-in 0.5s ease-in;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
}
.fixed-nav nav .dropdown-menu hr {
  border: 0;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.fixed-nav nav .dropdown-menu a {
  font-size: 2rem;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  text-decoration: none;
  color: white;
}
.fixed-nav nav .hidden-menu {
  display: none;
}
@keyframes slide-in {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0px);
  }
}
.body-section {
  padding-top: 7rem;
  padding-bottom: 3rem;
}
.body-section h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 1rem;
}
.body-section p {
  text-align: center;
}
.body-section .body-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  padding-top: 5rem;
}
#discover {
  background-image: url("../images/blue-background-clean-close-up-1194434.png");
  background-size: cover;
  background-position: -5rem;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  width: 100%;
}
#testimonials {
  background-image: url("../images/background-black-cast-iron-1435909.png");
  background-size: cover;
  background-position: -45rem;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  width: 100%;
  height: 71rem;
}
#testimonials h2 {
  margin: 14rem 7rem 0 0;
  color: #232a34;
}
#testimonials .body-container {
  padding-top: 16rem;
  padding-bottom: 3rem;
}
#testimonials .card-content {
  display: none;
  padding: 0 3rem;
}
#testimonials .card-content p {
  font-style: italic;
}
#testimonials .card-content span {
  font-style: none;
  font-weight: bold;
}
#testimonials .active {
  display: block;
}
#testimonials .testimonial-selector ol {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
}
#testimonials button {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 1.4rem;
  border: 0;
  margin: 0.2rem;
  background-color: white;
}
#testimonials .active-button {
  outline: none;
  background-color: #232a34;
}
.footer {
  padding-top: 2rem;
  background: #232a34;
}
.footer .social {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  margin: 1.5rem;
}
.footer .social a {
  text-decoration: none;
  color: white;
  width: 20%;
  font-size: 1.4rem;
}
.footer h3 {
  text-align: center;
  color: white;
}
.footer p {
  font-size: 1rem;
  color: white;
  text-align: center;
}
