#discover{
    background: @light-color;
    max-height: 700px;
    @media (min-width:768px){
        min-height: 900px;
    }
    h2{
        color:white;
    }

    .important-text{
        margin-top: 4rem;
        @media(min-width:768px){
            margin-top:2rem;
        }
    }
    p{
        color: white;
        margin-top: 4rem;

        @media(min-width:768px){
            margin-top: 0;
        }
    }
    hr {
        margin: 2rem 0;
        border: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }

    .body-container{
        padding-top: 1rem;

        .search-features-list{

            ul{ 
                color:white;
                font-size: @font-small;
                font-family: @font-body;
                list-style-type: disc;
                list-style-position: inside;
                display: block;
                margin: 0 auto;
                width: fit-content;
                li{
                    padding: 0.5rem;
                }
            }
        }

        a{
            text-decoration: none;
            outline: none;

            button{
                .button-design(white, @nav-color, 1.6rem, 0.4rem);
                font-family: @font-body;
                border: 1px solid @nav-color;
                width: 20rem;
                display: block;
                margin: 2rem auto 0;
                outline: none;
                cursor: pointer;

            }
        }
    }

}

.ss-style-doublediagonal-backwards {
	z-index: 1;
	padding-top: 1rem;
    background: @light-color;
    position: relative;
    
        &::before,
        &::after {
            top: 1rem;
            left: 125%;
            z-index: -1;
            width: 150%;
            height: 600%;
            background: inherit;
            transform: rotate(178deg);
            transform-origin: 0 0;
            content: '';
            display: block;
            position: absolute;
            pointer-events: none;
            box-sizing: border-box;
            overflow: hidden;
        }

        &::before{
            height: 600%;
            background: @dark-color;
            transform: rotate(176deg);
            transform-origin: 0% 0%;
        }
}