.footer{
    padding-top: 2rem;
    background: @nav-color;

    .social{
        .flex(space-around);
        margin: 1.5rem;

        a{
            text-decoration: none;
            color: white;
            width: 20%;
            font-size: 1.4rem;
        }
    }

    h3{
        text-align:center;
        color: white;
    }

    p{
        font-size: 1rem;
        color: white;
        text-align:center;
    }
}