.body-section{
    padding-top:7rem;
    padding-bottom: 3rem;
    height: 100vh;

    h2{
        font-size: @font-large;
        text-align:center;
        padding-top: 1rem;
    }

    p{
        text-align: center;
        font-size: @font-medium;
        width: 90%;
        margin: 0 auto;
        font-family: @font-body;
    }


    .body-container{
        .flex(@direction: column);
    }

    .important-text{
        font-style: italic;
        font-size: 2.2rem;
        margin-top: 2rem;
    }

    .next-section{
        position: relative;
        left: 60%;
        bottom: -5rem;
        margin-top: 2rem;
        width: fit-content;

        a{
            text-decoration: underline;
            color: @nav-color;
            font-size: 1.55rem;
        }
    }
}