.fixed-nav {
    .flex(space-between, @align: center);
    padding:0 0.5rem;
    height: 4rem;
    background-color: @nav-color;
    position: fixed;
    width: 100%;
    z-index: 1;

    .logo{
        font-size: @font-large;
        line-height: 4rem;
        color: @nav-font;
    }

    .recipe-search{
        width:48%;
        padding: 0 0.5rem;
        .flex(space-between);
        background-color: white;
        border: 0.2rem solid lightgray;
        border-radius: 1rem;
        margin: 0.4rem 0;
        
        input{
            width:95%;
            border: none;

            &:focus{
                outline:none;
            }
        }

        .search-icon{
            background-color: white;
            border: none;
            padding: 0;
            cursor: pointer;

            img{
                opacity: 0.5;
            }
        }
    }

    nav{
        display:block;
        padding-top: 1rem;

        .dropdown-menu{
            position:absolute;
            margin-top: 0.6rem;
            width: 100%;
            left:0%;
            background: @nav-color;
            animation: slide-in 0.5s ease-in;
            .flex(@direction: column, @justify: space-between);

            hr {
                border: 0;
                width: 90%;
                height: 1px;
                background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
            }

            a{
                font-size: @font-medium;
                width: 100%;
                text-align: center;
                padding: 1.5rem 0;
                text-decoration: none;
                color: @nav-font;
            }
        }

        .hidden-menu{
            display: none;
        }
    }
}

@keyframes slide-in {
    from {
        transform: translateX(200px);
    }
    to{
        transform: translateX(0px);
    }
}
