.fixed-nav {

    .flex(space-between);
    padding:0 1rem;
    height: 7rem;
    background-color: @nav-color;
    position: fixed;
    width: 100%;
    z-index: 1;

    .logo{
        font-size: @font-huge;
        line-height: 7rem;
        color: @nav-font;
        order: 2;
        flex-grow: 2;
        width: 60%;
        text-align: center;
    }

    .recipe-search{
        order: 3;
        padding-top: 1.5rem;
        border-radius: 1rem;
        margin: 0.4rem 0;
        display: block;

        .search-icon{
            cursor: pointer;
            img{
                opacity: 1;
            }
        }
        
        .dropdown-search{
            position: absolute;
            margin-top: 1.7rem;
            width: 18rem;
            left: calc(100% - 18rem);
            border-radius:0.7rem;
            height: 3.5rem;
            &:focus{
                outline:none;
            }

        }

        .hidden-search{
            display:none;
        }
            
    }

    nav{
        order: 1;
        display:block;
        padding-top: 2.5rem;

        .dropdown-menu{
            position:absolute;
            margin-top: 2rem;
            width: 50%;
            left:0%;
            background: @nav-color;
            animation: slide-in 0.5s ease-in;
            .flex(@direction: column, @justify: space-between);

            hr {
                border: 0;
                width: 90%;
                height: 1px;
                background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
            }

            a{
                font-size: @font-medium;
                width: 100%;
                text-align: center;
                padding: 1.5rem 0;
                text-decoration: none;
                color: @nav-font;
            }
        }

        .hidden-menu{
            display:none;
        }
    }
}


@keyframes slide-in {
    from {
        transform: translateX(-200px);
    }
    to{
        transform: translateX(0px);
    }
}
