.body-section{
    padding-top:7rem;
    h2{
        font-size: @font-large;
        text-align:center;
        padding-top: 1rem;
    }

    p{
        text-align: center;
    }

    .body-container{
        .flex(@direction: column);
        padding-top: 5rem;

        .card-content{
            height: 20vh;
        }
    }
}

#share{
}

#discover{
    background-image: url("../images/cookware-cuisine-delicious-263022.png");
    background-size: cover;
    // background-position: -5rem -0.8rem;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    width: 100%;
}

#testimonials{
    background-image: url("../images/background-black-cast-iron-1435909.png");
    background-size: cover;
    background-position: -60rem;
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    width: 100%;

    button{
        width:16px;
        height: 16px;
        border-radius: 16px;
        border: 0px;
    }
}

#about{

}