.body-section{
    padding-top:7rem;
    padding-bottom: 3rem;
    height: 100vh;

    h2{
        font-size: @font-large;
        text-align:center;
        padding-top: 1rem;
    }

    p{
        text-align: center;
        font-size: @font-medium;
        width: 90%;
        margin: 0 auto;
        font-family: @font-body;
    }


    .body-container{
        .flex(@direction: column);
    }

    .important-text{
        font-style: italic;
        font-size: 2.2rem;
        margin-top: 2rem;
    }

    .next-section{
        position: relative;
        left: 60%;
        bottom: -5rem;
        margin-top: 2rem;
        width: fit-content;

        a{
            text-decoration: underline;
            color: @nav-color;
            font-size: 1.55rem;
        }
    }
}

#share{

}

#discover{
    background: @light-color;

    h2{
        color:white;
    }

    p{
        color: white;
    }

    hr {
        margin: 2rem 0;
        border: 0;
        width: 100%;
        height: 1px;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    }

    .body-container{
        padding-top: 1rem;

        .search-features-list{

            ul{ 
                color:white;
                font-size: @font-small;
                font-family: @font-body;
                list-style-type: disc;
                list-style-position: inside;
                display: block;
                margin: 0 auto;
                width: fit-content;
                li{
                    padding: 0.5rem;
                }
            }
        }

        a{
            text-decoration: none;
            outline: none;

            button{
                .button-design(white, @nav-color, 1.6rem, 0.4rem);
                font-family: @font-body;
                border: 1px solid @nav-color;
                width: 50%;
                display: block;
                margin: 2rem auto 0;
                outline: none;
                cursor: pointer;

            }
        }
    }

    .next-section{
        a{
        color:white;
        text-decoration: underline;
        }
    }
}

#featured-recipe{
    form{
        .email{
            border-radius: 0.4em;
            height: 3rem;
            width: 20rem;
            margin: 2rem auto 0;
            display: block;
            padding-left:0.5rem;

            &:focus{
                outline: none;
            }
        }

        button{
            .button-design(@nav-color, white, 1.6rem, 0.4rem);
            font-family: @font-body;
            width: 50%;
            display: block;
            border: 0;
            margin: 2rem auto;
            cursor: pointer;
        }
    }

    img{
        width:90%;
        display: block;
        margin: 0 auto;
        border-radius:0.8rem;
    }
   
    
}

#testimonials{
    background-image: url("../images/background-black-cast-iron-1435909.png");
    background-size: cover;
    background-position: -45rem;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    width: 100%;
    height: 71rem;

    h2{
        margin: 14rem 0 0 3rem;
        color: @dark-color;
        font-weight:bold;
        width: fit-content;
    }

    .body-container {
        padding-top: 16rem;
        padding-bottom: 3rem;
    
        .card-content{
            display: none;
            padding: 0 3rem;

            p{
                font-style: italic;
                font-size: @font-small;
            }

            span{
                font-style: none;
                font-weight: bold;
            }
        }

        .active{
            display: block;
        }
    }

    .testimonial-selector{

        ol{
            .flex();
        }

        button{
            width:1.4rem;
            height: 1.4rem;
            border-radius: 1.4rem;
            border: 0;
            margin: 0.2rem;
            background-color: white;
        }

        .active-button{
            outline: none;
            background-color: @nav-color;
        }
    }

}
