#share{
    .body-container{
        .flex(@direction: column, @justify: space-around);
        height: 55%;
    }
    .card-content{
        height: 30%;
        margin: 0 3rem;
        p{
            font-size: @font-small;
            margin: auto;
        }
        .flex(@justify: space-between);

        img{
            width: 13rem;
            height: auto;
        }
    }

    a{
        text-decoration: none;
        outline: none;

        button{
            .button-design(@nav-color, white, 1.6rem, 0.4rem);
            font-family: @font-body;
            border: 1px solid @nav-color;
            width: 50%;
            display: block;
            margin: 2rem auto 0;
            outline: none;
            cursor: pointer;

        }
    }

    .next-section{
        bottom: 0;
        text-decoration: underline;
    }
}