.ss-style-doublediagonal {
	z-index: 1;
	padding-top: 6em;
    background: @light-color;
    position: relative;
    
        &::before,
        &::after {
            top: 0;
            left: -25%;
            z-index: -1;
            width: 150%;
            height: 75%;
            background: inherit;
            transform: rotate(-2deg);
            transform-origin: 0 0;
            content: '';
            display: block;
            position: absolute;
            pointer-events: none;
            box-sizing: border-box;
            overflow: hidden;
        }

        &::before{
            height: 70%;
            background: @dark-color;
            transform: rotate(-4deg);
            transform-origin: 0% 0;
        }
}

#testimonials{
    background: @light-color;
    max-height: 700px;
    padding: 0;
    .testimonial-info{
        
        h2{
            color: white;
        }

        .important-text{
            color: white;
        }
        .body-container {
            color: white;
            padding-top: 10rem;
            .card-content{
                display: none;
                margin: 0 auto;

                p{
                    font-style: italic;
                    font-size: @font-small;
                }

                span{
                    font-style: none;
                    font-weight: bold;
                    letter-spacing: 0.2rem;
                }
            }

            .active{
                display: block;
            }
        }

        .testimonial-selector{
            margin-top: 2rem;
            ol{
                .flex();
            }

            button{
                width:1.4rem;
                height: 1.4rem;
                border-radius: 1.4rem;
                border: 0;
                margin: 0.3rem;
                background-color: white;
            }

            .active-button{
                outline: none;
                background-color: @nav-color;
            }
        }
    }

    .mission-statement{
        color: white;
        font-size: @font-small;
        margin-top:10rem;
    }
}

