#testimonials{
    background: @light-color;
    height: 500px;
    padding: 0;

    @media (min-width: 768px){
        height: 700px;
    }
    .testimonial-info{
        
        h2{
            color: white;
        }

        .important-text{
            color: white;
        }
        .body-container {
            color: white;
            padding-top: 10rem;
            @media (min-width: 768px){
                padding-top: 2rem;
            }
            .card-content{
                display: none;
                margin: 0 auto;
                animation: photo-transition 4.5s ease-in;

                p{
                    font-style: italic;
                    font-size: @font-small;
                }

                span{
                    font-style: none;
                }
            }

            .active{
                display: block;
            }
        }

        .testimonial-selector{
            margin-top: 2rem;
            
            ol{
                .flex();
            }

            button{
                width:1.4rem;
                height: 1.4rem;
                border-radius: 1.4rem;
                border: 0;
                margin: 0.3rem;
                background-color: white;
                outline:none;
            }

            .active-button{
                outline: none;
                background-color: @nav-color;
            }
        }
    }
}

@keyframes photo-transition {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
