@font-small: 1.5rem;
@font-medium: 2rem;
@font-large: 3rem;
@font-huge: 4rem;

@nav-color: rgb(35,42,52); //main color
@light-color: #5a6474;
@dark-color: #0c1725;
@container-color: rgba(84,112,107,0.4);
@nav-font: white;

@font-logo: 'Playfair Display', serif; 
@font-body: 'Roboto', sans-serif;
@font-headers: 'Playfair Display', serif;
