@font-small: 1.5rem;
@font-medium: 2rem;
@font-large: 3rem;
@font-huge: 4rem;

@nav-color: hsl(215, 19.5%, 17.1%); //main color
@dark-color: hsl(216, 29.5%, 2.1%);
@light-color: hsl(214, 9.5%, 32.1%);
@nav-font: white;
@body-font: white;

@font-logo: 'Playfair Display', serif; 
@font-body: 'Roboto', sans-serif;
@font-headers: 'Playfair Display', serif;